.eyebrow-text {
  color: hsl(var(--muted-foreground));
}

.eyebrow-dot {
  margin-right: 0.5rem;
  display: inline-block;
  height: 0.375rem;
  width: 0.375rem;
  transform: translateY(-1px);
  border-radius: 9999px;
  background-color: hsl(var(--lime));
  vertical-align: middle;
}